body {
background-color: #fff;
margin: 0;
padding: 0;
max-width: 1440px;
}

.header {
    background-image: url(image-header.jpg);
    background-repeat: no-repeat;
    background-size: contains;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-position: center;
    background-color: #3ebfff ;
}

.header-flex {
    display: flex;
    padding: 2rem;
    margin: 0rem 1rem 1rem 1rem;
}

h3{
    width: 75% ;
    justify-content: left;
    font-family:'Fraunces';
    margin: 0.95rem 1rem 1rem 1rem;
}

.header p{
    text-align: right;
    justify-content: space-between;
    font-family: 'Barlow';
    font-size: small; 
    margin: 1.5rem 1rem 1rem 1rem;
    padding: 0;
    
}

.header button {
    margin-right: 0.5rem;
    margin-top: 1rem;
    color: black;
    background-color: #fff;
    border-radius: 1rem;
    border-style: none;
    font-family:'Fraunces';
    font-weight: lighter;
    font-size: x-small; 
    width: 100px ;
    height: 30px;
}

h1 {
    text-align: center;  
    font-family:'Fraunces';
    padding-top: 0.7rem;
    letter-spacing: 0.4rem;
    font-size: 3rem;
}


.flex-content {
    display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.row-reverse {
    display: flex;
	flex-flow: row-reverse;

}

.half-item content-text {
    width: 50%;
}

.content-text {
    padding: 10rem 5rem 5rem 5rem ;
    justify-content: center;
}

.content-text h2 {
    font-family:'Fraunces';
    font-size: 2rem;
}

.content-text h5 {
    font-family:'Fraunces';
    text-decoration: underline;
   
}

.content-text p {
    font-size: medium;
    font-family: 'Barlow';
    color: gray;
}

.half-item content-image {
    width: 50%;
}


.services-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-image: url(image-graphic-design.jpg), url(image-photography.jpg);
    background-repeat: no-repeat, repeat-x;
    background-size: contains;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
 }


.service-content {
    padding: 20rem 10rem 5rem 8rem;
}

.service-content h4 {
    font-family:'Fraunces';
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.7;
}

.service-content p {
    text-align: center;
    font-family: 'Barlow';
    opacity: 0.6;
    line-height: 2rem;
}


.client-flex {
    display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: end;

}
.third-part-item {
    width: 25%;
}